
#pagination{
  margin-bottom: 10px;
}
#users-box .list-inline li:first-child{
  margin-bottom: 8px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex-row.row {
	 display: flex;
	 flex-wrap: wrap;  /*the flexible items wrap if necessary*/
}
.flex-row.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}
.flex-row .thumbnail,
.flex-row .caption {
  flex:1 0 auto; /*grow = 1; shrink = 0; basis = auto*/
  flex-direction:column;
  display: flex;
}
.flex-text {
  flex-grow:1
}
@media (max-width: 1199px) {

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 620px) {
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
}
@media (max-width: 530px) {
  #repositories-box [class^="col-xs-"],
  #users-box [class^="col-xs-"]{
    width: 100%;
  }
}
